Host rshim{{ rshim_num }}
    HostName {{ rshim_lla }}%%tmfifo_net{{ rshim_num }}
    User ubuntu
    AddressFamily inet6
    StrictHostKeyChecking no
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes
