ENABLE_SFC_HBN=yes
NUM_SFs_ECPF0=18
NUM_SFs_ECPF1=2
ubuntu_PASSWORD='{{ hostvars[groups['dpus'][0]]['ansible_password'] | password_hash("md5") }}'
NET_RSHIM_MAC={{ dpu_rshim_mac }}

bfb_modify_os()
{
log ===================== bfb_modify_os =====================
}
